body{
  padding:30px;
}
input.input-captcha,
.submit-btn{
  margin-top:20px;
}
#books-table {
  height:300px;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  width: 15%;
}
